<!DOCTYPE html>
<html ng-app="topic" lang="en">

  <head>
      <script src="../../../jquery/jquery.min.js"></script>
      <script src="../../../bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
      <script src="../../../js/get.js"></script>

      <script src="../../../js/gettopics.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
	    <link href="../../../css/style.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>
 <script src="../../../jquery/jquery.min.js"></script>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Forum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



 <div class="container" id="root">
	
      <div class="row">
        <div class="col-9" id="Category1">
		<table class="table table-bordered"  ng-controller="topics"style="margin-top:50px">
		<colgroup>
    <col style="width:20%">
    <col style="width:80%">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Autor</th>
      <th scope="col">Treść</th>
    </tr>
  </thead>


  <tbody>


            <tr ng-repeat="x in topicss[0].topics">
                <td><h6><a href="/subsection/{{x.id}}/topic/{{x.id}}">{{x.topicname}}</a></h6>
                <td>{{x.numberOfPosts}}</td>

            </tr>

            </tbody>




            </table>
            <div class="form-group">
                <label for="comment">Odpisz:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
                <button type="button" class="btn btn-success" style="float:right; margin-top: 10px">Odpisz</button>

            </div>
		</div>
		<div class="col-3">
		
		</div>

      </div>
 </div>


    <!-- Bootstrap core JavaScript -->

  </body>


</html>
